<section class="main">
  <div class="row">
    <div class="columns large-3 medium-4 small-2">
      $partial("src/content/partials/left-pillar.html")$
    </div>
    <div class="columns large-6 medium-7 small-10">
      <section class="content">
        $body$
      </section>
    </div>
    <div class="columns large-3 show-for-large">
      $partial("src/content/partials/right-pillar.html")$
    </div>
  </div>
</section>
