<section class="footer">
  <div class="row">
    <div class="columns large-4 small-8 pub-time">
      <i class="fa fa-clock-o" aria-hidden="true"></i>$modified$
    </div>
    <div class="columns large-offset-4 large-4 small-4 copyright text-center">
      <i class="fa fa-copyright" aria-hidden="true"></i>$copyright$ The UNIX Man.
    </div>
  </div>
</section>
