<div class="title-bar header" data-responsive-toggle="header" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="header"></button>
  <div class="title-bar-title description"><h1>$description$</h1></div>
</div>

<div class="row expand header" id="header">
  <div class="columns medium-2 large-3 show-for-medium">
    <img alt="A Nice Logo" src="/assets/img/logo.png"></img>
  </div>
  <div class="columns medium-4 large-6 description"><h1>$description$</h1></div>
  <div class="columns medium-6 large-3">
    <ul class="horizontal menu float-right" data-responsive-menu="drilldown medium-dropdown">
      <li>
        <a href="/vissoc.html">Visual Sociology</a>
      </li>
      <li>
        <a href="#">Learning</a>
        <ul class="vertical menu">
          <li>
          <li><a href="/sessions/">Summer Sessions</a></li>
          <li><a href="/book/">The Book</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
