// Styling for the footer.

section.footer {
    border-top: 2px solid grey;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    font-style: italic;

    @include breakpoint(small only) {
        font-size: 60%;
    }

    @include breakpoint(medium only) {
        font-size: 75%;
    }

    @include breakpoint(large) {
        font-size: 85%;
    }
}
