// Header styling

// Avoid the flash on load (See http://foundation.zurb.com/sites/docs/responsive-navigation.html)
.no-js .top-bar {
    display: none;
}

// Give some visual cues here
div.header {
    margin-top: 0.5rem;
    border-bottom: 2px solid grey;
    margin-bottom: 1rem;
}

// Description settings. The $description$ is always an h1, but the
// size changes based on the breakpoint.
div.description > h1 {
    text-align: center;
    font-style: italic;
    line-height: 1;

    @include breakpoint(small only) {
        font-size-adjust: 75%;
    }

    @include breakpoint(medium only) {
        font-size-adjust: 85%;
    }

    @include breakpoint(large) {
        font-size-adjust: 120%;
    }
}

// Give the menu links black text.
.menu > li > a {
    color: black;
}

.header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
