// Styling for the main section

// Give the content some padding, make sure it's got a visible but
// simple border.
section.content {
    padding: 1.5rem;
    border: 1px solid grey;
    border-radius: 5px;
}
