// Cardo
@font-face {
  font-family: Cardo;
  src: url("/assets/fonts/Cardo-Regular.ttf");
}

@font-face {
  font-family: Cardo;
  src: url("/assets/fonts/Cardo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Cardo;
  src: url("/assets/fonts/Cardo-Italic.ttf");
  font-style: italic;
}

// Alegreya
@font-face {
  font-family: Alegreya;
  src: url("/assets/fonts/Alegreya-Regular.ttf");
}

@font-face {
  font-family: Alegreya;
  src: url("/assets/fonts/Alegreya-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Alegreya;
  src: url("/assets/fonts/Alegreya-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Alegreya;
  src: url("/assets/fonts/Alegreya-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Emoji;
  src: url("/assets/fonts/TwitterColorEmoji-SVGinOT.ttf");
}

.emoji {
    font-family: Emoji;
}

// Font Awesome needs the font path relative to the CSS file.
$fa-font-path:   "../fonts";
@import 'font-awesome';

// Font sizes for different breakpoints.
body, div, p, span, a {
    @include breakpoint(medium) {
        font-size: 14pt;
    }

    @include breakpoint(small only) {
        font-size: 9pt;
    }
}
