@font-face {
    font-family: Cardo;
    src: url('/assets/fonts/Cardo/Cardo-Regular.ttf');
}

@font-face {
    font-family: Cardo;
    src: url('/assets/fonts/Cardo/Cardo-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Cardo;
    src: url('/assets/fonts/Cardo/Cardo-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Emoji;
    src: url('/assets/fonts/TwitterColorEmoji-SVGinOT.ttf');
}

$body-font-family: Cardo, 'Helvetica Neue', Helvetica, Sans;
$header-font-family: Cardo, 'Helvetica Neue', Helvetica, Sans;
$emoji-font-family: Emoji;

.emoji {
    font-family: $emoji-font-family;
}