div.description > h1 {
    text-align: center;
    font-size: 180%;
    font-style: italic;
    padding: 0.7rem 1rem;
    line-height: 1;
}

.logo {
    padding-top: 0.5rem;
}

.menu > li > a {
    color: black;
}

section.header {
    padding-bottom: 0.4rem;
    border-bottom: 2px solid grey;
}
